<br><br><br><br><br>

<div class="container">
    <div class="w3-row">
        <div class="w3-col m1">
            <h1></h1>
        </div>
        <div class="w3-card w3-col m3" 
        style="height: 150px; text-align: center;background-color: lightblue;">
            <a [routerLink]="['/regpatient']" href="" 
            ><h1>Staff</h1></a>
            
        </div>
        <div class="w3-col m1">
            <h1></h1>
        </div>
        <div class="w3-card w3-col m2" 
        style="height: 150px; text-align: center;background-color: lightcoral;">
            <a [routerLink]="['/branch']" href=""><h1>Admin</h1> </a>
        </div>
        <div class="w3-col m1">
            <h1></h1>
        </div>
        <div class="w3-card w3-col m3" style="height: 150px; text-align: center;">
            <a [routerLink]="['/patientgraph']" href=""><h1>Doctor</h1> </a>
        </div>
        <div class="w3-col m1">
            <h1></h1>
        </div>
    </div>
</div>


